/** Fictional case study website **/

/** website color theme **/

/*
Main Colours:

Primary colour - rgb(183, 154, 246); //purple for navigation links
Secondary colour - rgb(53, 38, 80); //darker purple
Third colour - rgb(200, 177, 250); //lighter purple*/

/** Mobile default stylying (GLOBAL DEFAULT) **/

/* Prevent adjustments of font size after orientation specifically for IE and windows phone */

html {
	
-webkit-text-size-adjust: 100%	
-ms-text-size-adjust: 100%
	
}



/** apply a natural box model layout to all elements **/

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	
}

/** Embeded Fonts **/

@font-face {
	
	font-family: '28_Days';
	src: url(../fonts/28_days_later-webfont.eot);
	src: url(../fonts/28_days_later-webfont.woff2)
	format('woff2'),
		url(../fonts/28_days_later-webfont.woff)
	format('woff'),
		url(../fonts/28_days_later.ttf)
	format('truetype'),
		url(../fonts/28_days_later-webfont.svg)
	format('svg');
	font-weight: normal;
	font-style: normal;
}


/** sets the images and videos to be 100% of their containers **/

img, video{
	width: 100%
}
 
body{
	
	font-family: serif, sans-serif;
	font-size: 16px;
	color: rgb(44, 44, 44);
	width: 100%;
	margin: 0;
	padding: 0;
	
}

a{
	text-decoration: none;
 }

/* --------------------------- Home Section ------------------------- */

.myVideo {
	
	display: none;
	
}
.homeBgImage {

	
	position: relative;
	background-image: url(../img/trainerHomePage.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	background-attachment: fixed;
	width:  100%;
	height: auto;
	height: 100vh;
	
}
.logoC {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 45px;
	
}

.basketIcon{
	
	position: absolute;
	color: rgb(200, 177, 250);
	top:10px;
	left: 45vw;
	width: 40px;
	z-index: 4;
	
}

.fa-shopping-basket{
	
	font-size: 2em;
}

.headerC{
	
	position: fixed;
	width: 100%;
	z-index: 2;
}

/** ------------- NAVIGATION SECTION -------------- **/

.navC {
	
	color: rgb(255, 255, 255);
	background-color: rgb(53, 38, 80);
	
}

/** THIS IS FOR THE MENU ICON &#9776; **/

#navBtn {
	
	display: block;
	font-size: 2.5em;
	width: 20%;
	background-color: rgb(23, 10, 46);
	text-align: center;
	margin: 0 5vw 0 75vw;
	padding: 7px 2px;
	
	
}

.menu-items{
	
	list-style: none;
	margin; 0;
	padding: 0;
	
}

nav li a {
	
	color: rgb(255, 255, 255);
	text-align: right;
	border-top: 3px;
	text-transform: uppercase;
	font-family: 'Mukta', serif;
	
}
 /* Come back to add the additional classes to hide */
.menu-items{
	display: none;
	
} 

.slogan {
	
	font-size: 1.5em;
	font-family: '28_Days';
	color: rgb(255, 255, 255);
	text-align: right;
	padding: 150px 5vw 0 0; 
	text-transform: uppercase;
	
}

.mainHeading {
	
	font-size: 2em;
	font-family: 'Lovers Quarrel', cursive;
	color: rgb(255, 255, 255);
	letter-spacing: 3px;
	text-align: center;
	font-weight: lighter;
	margin: 50vh auto 0 auto;
}

.newArrivalsB {
	
	display: block;
	color: rgb(255, 255, 255);
	padding: 15px 20px;
	margin: 10px 30vw 0 auto;
	border-radius: 5px 5px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: rgba(200, 177, 250, 0.25);
	cursor: pointer;
	font-family: arial, sans-serif;
	
}

/** --------------Product Section -------------------------------------------- **/

h1{
	
	font-size: 1.5em;
	text-align: center;
	font-family: 'Mukta', sans-serif;
	font-weight:lighter;
}

.caption{
	
	text-align: center;
	padding: 0 10px;
}

figure{
	margin: 0;
}

figcaption {
	font-size: 0.8em;
	text-align: center;
	margin: 0 auto;
	
}

.fa-shopping-cart {
	color: rgb(255, 255, 255);
}

.allProducts{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: auto;
}

.allProducts article button{
	display: block; 
	padding: 15px 20px;
	border-radius: 5px 5px;
	background-color: rgb(53, 38, 80);
	border: 1px solid rgb(255, 255, 255);
	margin: 2vh auto 15vh auto;
}

.allProducts article button a {
	
	color: rgb(255, 255, 255);
	font-family: 'Mukta', sans-serif;
	
}


article {
	
	margin: 1%;
	text-align: center;
	width: 230px;
	
	
}

/** ----------------- Contact Section------------------------ **/ 

.cont{
	text-align: center;
	padding: 0 10px;
	color: rgb(255, 255, 255);
}

.allContact article button {
	display: block; 
	padding: 15px 20px;
	border-radius: 5px 5px;
	background-color: rgb(53, 38, 80);
	border: 1px solid rgb(255, 255, 255);
	margin: auto;
}

.allContact article button a {
	
	color: rgb(255, 255, 255);
	font-family: arial, sans-serif;
}

.fa-phone {
	color: rgb(200, 177, 250);
	border
}

.fa-envelope {
	color: rgb(200, 177, 250);
}

h3 {
	font-size: 1em;
	text-align: center;
	font-weight: bolder;
	color: rgb(255, 255, 255);
}

h4 {
	font-size: 0.8em;
	text-align: center;
	color: rgb(255, 255, 255);
}

.ContactBgImage {

	background: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.72)), url(../img/trainerContactBackground.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	padding:  10px 0 0 0;
	
}

/* ============== GMaps ========== */

#map {
	
	width: 80vw;
	height: 80vh;
}

/** ------------------------------- About Page ------------------- **/


.AbP {
	font-size: 0.9em;
	text-align: center;
	padding: 0 10px;
}

.AbText {
	font-size: 0.9em;
	text-align: center;
	padding: 0 10px;
}


/** ------------------------ Mobile Styles 568PX - Resolution ---------------------**/


@media screen and (min-width:568px){
	
.slogan {
	
	font-size: 2.5em;
	padding: 150px 5vw 0 0; 
	
}

.mainHeading {
	
	margin: 40vh auto 0 auto;
}

.newArrivalsB {
	margin-right: 4vw;
	margin-bottom: 0;
		
}

/** --------------Product Section -------------------------------------------- **/

/*.allProducts article button{
	
	margin: 10px 25vw 10px auto;
	
}*/

	figcaption{
		padding:0;
		margin-bottom: 10px;
		height: 50px;
	}

}





/** ------------------------ Tablet Styles 768PX - Resolution ---------------------**/

@media screen and (min-width:768px){

.slogan {
	
	font-size: 4em;
	padding: 150px 5vw 0 0;  
	margin: 10vh auto 10vh auto;
}
	
.mainHeading {
	
	font-size: 4em;
	margin: 45vh auto 0 3vw;
}
	
.newArrivalsB {	
	
	margin: 0 20vw 0 34vw;
	padding: 30px 40px;
	font-size: 1.5em;
		
}
.homeBgImage{
		background-position: center center;
	}

.allProducts article button {
		margin-bottom: 0;
	}
	
}

/** ------------------------ Desktop Styles 1024PX - Resolution ---------------------**/


@media screen and (min-width:1024px){
	
	.myVideo {
		display: inline-block;
		background-size: cover;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1000;
		width: 100%;
		height: auto;
		
	}
	
	.homeBgImage {
		
		background-image: none;
		background: -webkit-linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.53));
		overflow-y: hidden;
		
	}
	
	#navBtn, .basketIcon {
		display: none;
	}
	
	.menu-items{
		display: inline;
	}
	
	.logoC{
		
		top: 80px;
		left: 7vw;
		width: 100px;
	}

	.slogan {
	
	font-size: 3em;
	letter-spacing: 5px;
	text-align: right;
	padding: 50vh 15vw 0 0; 
		
}

	.mainHeading {
	
	font-size: 2.5em;
	letter-spacing: 3px;
	text-align: center;
	margin: 5% 50vw 0 5vw;
	padding: 5px 10px;
}

	.newArrivalsB {
	
	margin: 10vh 50vw 0 4vw;
	padding: 30px 40px;
	font-size: 1em;
}
	
	/* ============== Navigation ========== */
	
	.navC{
	
		text-align: right;
		border-bottom: none;
	
	}
	
	nav li a {
		border-top: none;
		font-size: 0.8em;
		letter-spacing: 0.5px;
		
	}
	
	nav a:hover {
		color: rgb(200, 177, 250);
	}
	
	.menu-items a{
		display: inline;
		text-align: center;
	}
	
	.menu-items li {
		border-top: none;
		display: inline;
		padding: 38px 38px;
	}
	
	.allProducts{
		
		column-count: 4;
	}
	
}



/* ============== Product ========== */














